%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-airbnb:before {
	content: '\e900';
}
._icon-buzz:before {
	content: '\e901';
}
._icon-chase:before {
	content: '\e902';
}
._icon-cisco:before {
	content: '\e903';
}
._icon-ebay:before {
	content: '\e904';
}
._icon-facebook:before {
	content: '\e905';
}
._icon-gucci:before {
	content: '\e906';
}
._icon-homeSearch:before {
	content: '\e907';
}
._icon-in:before {
	content: '\e908';
}
._icon-instagram:before {
	content: '\e909';
}
._icon-microsoft:before {
	content: '\e90a';
}
._icon-slideArrow:before {
	content: '\e90b';
}
._icon-twitter:before {
	content: '\e90c';
}
._icon-uber:before {
	content: '\e90d';
}

